/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: EntypoSocial;
  src: url("./assets/fonts/fibre-font.otf"); }

body {
  font-family: "Open Sans", "Arial";
  color: #2b2b2b; }

h1 {
  display: block;
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 48px;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 0; }

h2 {
  font-size: 36px;
  margin: 0px 0 20px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500; }

h3 {
  font-size: 24px;
  margin: 0px 0 15px;
  text-align: center;
  font-weight: 500; }

p {
  font-size: 18px; }

a {
  color: #30b8b8; }

@media (max-width: 768px) {
  h1 {
    text-align: center;
    font-size: 36px; }
    h1 br {
      display: none; }
  h2 {
    font-size: 32px; } }

@media (max-width: 568px) {
  h1 {
    font-size: 32px; }
  h2 {
    font-size: 28px; } }

body, html {
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  background: #e5e5e5; }

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a:focus,
button:focus {
  outline: none; }

a, button {
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s; }

.site {
  position: relative;
  min-height: 100%;
  display: block;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #e2e2e2;
  background: #fff;
  -webkit-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.1); }

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px; }

.container-fluid {
  width: 100%; }

.content-area section:last-child {
  padding-bottom: 200px; }

section {
  position: relative; }
  section.content {
    padding: 110px 15px; }
  section.grey-bg {
    background: #efefef;
    color: #3d3d3d; }
  section.white-bg {
    background: #fff; }

@media (max-width: 767px) {
  section.content {
    padding-top: 60px;
    padding-bottom: 50px; } }

@-webkit-keyframes deliver {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes deliver {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes opacity-pulsation {
  from {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  to {
    opacity: 1; } }

@keyframes opacity-pulsation {
  from {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  to {
    opacity: 1; } }

@-webkit-keyframes shadow {
  from {
    -webkit-box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.1); }
  50% {
    -webkit-box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.2); }
  to {
    -webkit-box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.1); } }

@keyframes shadow {
  from {
    -webkit-box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.1); }
  50% {
    -webkit-box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.2); }
  to {
    -webkit-box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.1); } }

@-webkit-keyframes shadow-portfolio {
  from {
    -webkit-box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2); }
  50% {
    -webkit-box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.6); }
  to {
    -webkit-box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2); } }

@keyframes shadow-portfolio {
  from {
    -webkit-box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2); }
  50% {
    -webkit-box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.6); }
  to {
    -webkit-box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2); } }

@-webkit-keyframes shadow-sm {
  from {
    -webkit-box-shadow: 0px 2px 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 3px 5px rgba(0, 0, 0, 0.1); }
  50% {
    -webkit-box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.2); }
  to {
    -webkit-box-shadow: 0px 2px 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 3px 5px rgba(0, 0, 0, 0.1); } }

@keyframes shadow-sm {
  from {
    -webkit-box-shadow: 0px 2px 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 3px 5px rgba(0, 0, 0, 0.1); }
  50% {
    -webkit-box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.2); }
  to {
    -webkit-box-shadow: 0px 2px 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 3px 5px rgba(0, 0, 0, 0.1); } }

.pulsation {
  -webkit-animation: pulsation 1.7s linear infinite;
  -moz-animation: pulsation 1.7s linear infinite;
  -ms-animation: pulsation 1.7s linear infinite;
  animation: pulsation 1.7s linear infinite; }

@-webkit-keyframes pulsation {
  0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@keyframes pulsation {
  0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

.cursor-move {
  -webkit-animation: cursor-move 1.7s linear infinite;
  -moz-animation: cursor-move 1.7s linear infinite;
  -ms-animation: cursor-move 1.7s linear infinite;
  animation: cursor-move 1.7s linear infinite; }

@-webkit-keyframes cursor-move {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@keyframes cursor-move {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

.btn-purple {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#a80054), to(#f8258f));
  background: -webkit-linear-gradient(top, #a80054, #f8258f);
  background: -o-linear-gradient(top, #a80054, #f8258f);
  background: linear-gradient(to bottom, #a80054, #f8258f);
  color: #fff;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  overflow: hidden; }
  .btn-purple span {
    position: relative;
    z-index: 10;
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 18px; }
  .btn-purple:before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
    background: -webkit-gradient(linear, left bottom, left top, from(#a80054), to(#f8258f));
    background: -webkit-linear-gradient(bottom, #a80054, #f8258f);
    background: -o-linear-gradient(bottom, #a80054, #f8258f);
    background: linear-gradient(to top, #a80054, #f8258f); }
  .btn-purple:hover::before {
    opacity: 1; }

.site-header {
  position: relative;
  border-bottom: 1px solid #ccc;
  padding: 30px 45px 25px; }
  .site-header:after {
    display: table;
    content: '';
    clear: both; }
  .site-header .header-logo {
    float: left;
    margin-top: 5px; }
    .site-header .header-logo img {
      display: block;
      max-width: 245px; }
  .site-header .toggleMenu {
    display: none;
    background: none;
    border: none;
    font-size: 26px; }
  .site-header .main-navigation {
    float: right; }
    .site-header .main-navigation ul {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-rendering: optimizeSpeed;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0px;
      padding: 0px; }
      .site-header .main-navigation ul li.current-menu-item a {
        color: #c70062; }
      .site-header .main-navigation ul li {
        list-style: none; }
        .site-header .main-navigation ul li a {
          display: block;
          font-size: 22px;
          line-height: 1.35em;
          font-weight: 500;
          color: #000;
          padding: 20px 14px;
          text-decoration: none;
          -webkit-transition: all .1s;
          -o-transition: all .1s;
          transition: all .1s; }
          .site-header .main-navigation ul li a:hover {
            color: #c70062; }
        .site-header .main-navigation ul li:last-child a:after {
          display: none; }
  .site-header .main-navigation #primary-menu li:hover ul {
    display: block; }
  .site-header .main-navigation .sub-menu {
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    position: absolute;
    z-index: 100;
    top: 100%;
    width: 300px;
    border: 1px solid #ccc;
    background: #fff;
    display: none; }
    .site-header .main-navigation .sub-menu li a {
      display: block;
      padding: 5px 10px; }
    .site-header .main-navigation .sub-menu:before {
      position: absolute;
      top: -10px;
      left: 20px;
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid #c3c3c3; }

@media (max-width: 992px) {
  .site-header .main-navigation ul li a {
    padding: 15px 10px; } }

@media (min-width: 768px) {
  .site-header .main-navigation ul li a {
    font-size: 18px; } }

@media (max-width: 767px) {
  .site-header {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: initial;
    padding: 10px 0px; }
    .site-header .header-logo {
      margin-left: 15px; }
      .site-header .header-logo .rocket {
        right: -13px;
        bottom: 0px;
        font-size: 21px; }
    .site-header .toggleMenu {
      position: absolute;
      top: 20px;
      right: 20px;
      display: block;
      margin-right: 15px; }
    .site-header .main-navigation {
      display: none;
      width: 100%; }
      .site-header .main-navigation ul {
        border-top: 1px solid #ccc;
        margin-top: 10px;
        padding-top: 10px;
        margin-bottom: 0px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        .site-header .main-navigation ul li {
          text-align: left;
          width: 100%; }
          .site-header .main-navigation ul li a {
            font-size: 18px;
            display: block;
            padding: 10px 15px; }
      .site-header .main-navigation .sub-menu {
        top: initial;
        margin-top: 3px;
        position: relative;
        display: block;
        bottom: initial;
        width: 100%;
        padding-left: 20px;
        margin-left: 0;
        border: none;
        border-top: 1px solid #f3f3f3;
        border-bottom: 1px solid #f3f3f3; }
        .site-header .main-navigation .sub-menu:before {
          position: absolute;
          top: -10px;
          left: 20px;
          content: '';
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 10px solid #c3c3c3; }
        .site-header .main-navigation .sub-menu li {
          position: relative; }
          .site-header .main-navigation .sub-menu li a {
            padding-top: 8px;
            padding-bottom: 8px; }
    .site-header .main-navigation.open {
      width: 100%;
      display: block; }
    .site-header .mobile-menu {
      margin: 0 0;
      display: block;
      font-size: 24px;
      background: #ccc; } }

@media (max-width: 568px) {
  .site-header .header-logo img {
    max-width: 180px; }
  .site-header .toggleMenu {
    top: 15px;
    right: 0px; } }

.site-footer #footer-menu ul {
  margin: 0px;
  padding-left: 0; }

.site-footer .social {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .site-footer .social a {
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .site-footer .social a .fab {
      margin: 0 10px; }
    .site-footer .social a i {
      font-size: 38px;
      position: relative;
      top: 1px;
      color: #1ac2ff; }
    .site-footer .social a:hover {
      -webkit-transform: rotate(-20deg) scale(1.25);
      -ms-transform: rotate(-20deg) scale(1.25);
      transform: rotate(-20deg) scale(1.25); }
  .site-footer .social:after {
    display: inline-table;
    content: '';
    clear: both; }

.site-footer {
  bottom: 0px;
  left: 0px;
  width: 100%;
  border-top: 1px solid #ccc; }
  .site-footer .f-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0; }
  .site-footer .footer-description {
    position: relative;
    min-height: 50px;
    letter-spacing: 0.5px;
    font-size: 12px;
    padding: 50px 70px 100px; }
    .site-footer .footer-description h3 {
      color: #000;
      margin-top: 0;
      font-weight: 600;
      font-size: 16px;
      text-align: left; }
    .site-footer .footer-description .copyright {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: center;
      align-content: center;
      position: absolute;
      min-height: 50px;
      width: 100%;
      right: 0;
      bottom: 10px;
      margin-top: 105px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1.5px;
      color: #1ac2ff; }
      .site-footer .footer-description .copyright img {
        margin-right: 4px; }
      .site-footer .footer-description .copyright span {
        position: relative;
        font-size: 14px;
        top: -4px; }
    .site-footer .footer-description .wdd {
      position: absolute;
      min-height: 50px;
      left: 0px;
      width: 100%;
      bottom: 0px;
      display: block;
      margin-top: 120px;
      font-size: 16px;
      text-align: center;
      max-width: 100% !important;
      letter-spacing: 1px; }
      .site-footer .footer-description .wdd a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 18px; }
        .site-footer .footer-description .wdd a:hover {
          color: #ffcb52; }
      .site-footer .footer-description .wdd .fa-heart {
        color: #ffcb52;
        font-size: 24px; }
    .site-footer .footer-description.left {
      display: block;
      width: 60%;
      background: #1ac2ff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: left;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .site-footer .footer-description.left p {
        max-width: 300px; }
    .site-footer .footer-description.right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 40%;
      background: #fbb91e; }
      .site-footer .footer-description.right h3 {
        text-align: center; }
      .site-footer .footer-description.right p {
        color: #000; }
      .site-footer .footer-description.right ul:first-child {
        margin-bottom: 50px; }
    .site-footer .footer-description ul {
      margin-left: 0;
      padding-left: 0;
      text-align: left; }
      .site-footer .footer-description ul li {
        list-style: none;
        margin-top: 10px;
        font-size: 16px;
        line-height: 27px; }
        .site-footer .footer-description ul li p {
          color: #fff;
          font-size: 16px; }
        .site-footer .footer-description ul li a {
          font-size: 16px;
          color: #000;
          text-decoration: none; }
          .site-footer .footer-description ul li a:hover {
            color: #fff; }
      .site-footer .footer-description ul li.newsletter input {
        margin: 12px 0 0;
        padding: 0 18px;
        height: 43px; }
      .site-footer .footer-description ul li.newsletter .btn-purple {
        height: 40px;
        cursor: pointer;
        position: relative;
        color: #fff; }

@media (max-width: 1300px) {
  .site-footer .footer-description.left {
    width: 50%; }
  .site-footer .footer-description.right {
    width: 50%; } }

@media (max-width: 1200px) {
  .site-footer .footer-description {
    padding: 40px 30px 80px; }
    .site-footer .footer-description .wdd {
      font-size: 16px; }
    .site-footer .footer-description .copyright {
      font-size: 16px; } }

@media (max-width: 992px) {
  .site-footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .site-footer .f-wrap {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .site-footer .footer-description {
      padding: 30px 15px 90px;
      width: 100% !important; }
      .site-footer .footer-description .copyright {
        margin-top: 50px; }
    .site-footer .footer-description.left {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .site-footer .footer-description.left ul {
        margin-left: 15px;
        margin-right: 15px; }
      .site-footer .footer-description.left .wdd {
        margin-top: 30px; }
    .site-footer .footer-description.right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .site-footer .footer-description.right ul {
        width: 100%;
        text-align: center; }
      .site-footer .footer-description.right ul:first-child {
        margin-bottom: 0px; }
      .site-footer .footer-description.right p {
        margin-bottom: 0; }
    .site-footer .social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .site-footer .social a {
        float: none; }
    .site-footer .newsletter {
      position: relative;
      top: -10px;
      margin-bottom: -30px; } }

@media (max-width: 768px) {
  .site-footer .f-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .site-footer .f-wrap .footer-description {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      width: 100%;
      max-width: 100%;
      text-align: center; }
      .site-footer .f-wrap .footer-description ul {
        margin: 0; }
  .site-footer #footer-slogan {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin: 30px auto 20px;
    left: 0px;
    text-align: center;
    padding-left: 0; } }

@media (max-width: 568px) {
  .site-footer .footer-description.left p {
    margin-top: 5px; }
  .site-footer .footer-description.left ul {
    width: 100%; }
    .site-footer .footer-description.left ul li {
      margin-top: 0; }
  .site-footer .footer-description.left ul:first-child {
    margin-bottom: 10px; }
  .site-footer .footer-description.left .wdd {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 2px; }
  .site-footer .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .site-footer .newsletter input {
      width: 100%; }
    .site-footer .newsletter .btn-purple {
      margin-top: 5px;
      padding-top: 7px; } }

.simplefilter {
  display: none !important; }

.main-page h2 {
  color: #015371;
  font-size: 36px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 30px; }

.bnr-main {
  background: url(./assets/img/main-page/TumbleBus_banner.jpg) no-repeat 50% 50%;
  background-size: cover;
  padding: 150px 50px 200px; }
  .bnr-main h1 {
    font-family: EntypoSocial;
    font-size: 72px;
    margin-bottom: 30px; }
  .bnr-main .description {
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 85px;
    font-weight: 600;
    max-width: 540px;
    text-shadow: 1px 1px 2px #fff; }
  .bnr-main .btn-purple {
    text-transform: uppercase;
    border-radius: 20px;
    padding: 15px 75px;
    overflow: hidden; }
    .bnr-main .btn-purple:before {
      border-radius: 50px; }

.what-is-tmb {
  background: url(./assets/img/main-page/car.png) no-repeat 80% 70%;
  padding: 90px 15px; }
  .what-is-tmb .wrap {
    max-width: 630px;
    text-align: center;
    background: url(./assets/img/main-page/text-bg.png) no-repeat 50% 50%;
    background-size: cover;
    padding: 30px 0;
    margin-left: 150px; }
  .what-is-tmb p {
    font-size: 16px;
    line-height: 27px; }

.what-inside {
  background-color: #1ac2ff;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 0 0 0; }
  .what-inside img {
    display: block;
    width: 100%;
    height: auto; }
  .what-inside .wrap {
    width: 40%;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #1ac2ff;
    max-width: 630px;
    width: 100%;
    display: block;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px; }
    .what-inside .wrap p {
      display: block;
      margin: 0 auto;
      max-width: 380px;
      font-size: 16px;
      line-height: 27px; }
  .what-inside h2 {
    color: #fff; }

.gallery {
  padding-top: 110px; }
  .gallery .row {
    margin-left: 0;
    margin-right: 0; }

@media (max-width: 1400px) {
  .what-is-tmb {
    background-position: 90% 70%; } }

@media (max-width: 1200px) {
  .bnr-main {
    padding: 100px 30px 100px; }
    .bnr-main h1 {
      font-size: 50px; }
    .bnr-main .description {
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 50px; }
  .what-is-tmb {
    background-position: 100% 70%; }
    .what-is-tmb .wrap {
      margin-left: 50px; }
  .what-inside img {
    width: 50%; }
  .what-inside .wrap {
    width: 50%;
    padding-top: 50px; } }

@media (max-width: 992px) {
  .bnr-main {
    padding: 50px 30px 60px; }
    .bnr-main .wrap {
      background: rgba(255, 255, 255, 0.9);
      text-align: center;
      padding: 30px 15px 0; }
    .bnr-main h1 {
      color: #fbb91e;
      text-align: center; }
    .bnr-main .description {
      margin-left: auto;
      margin-right: auto; }
  .what-is-tmb {
    background-image: none;
    padding: 40px 0 20px; }
    .what-is-tmb .wrap {
      margin: 0 auto;
      padding: 60px 15px; }
  .main-page h2 {
    font-size: 30px;
    margin-bottom: 20px; }
  .gallery {
    padding-top: 80px; } }

@media (max-width: 768px) {
  .main-page h2 {
    font-size: 26px; }
  .what-inside {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .what-inside img {
      display: none; }
    .what-inside .wrap {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px; }
  .gallery {
    padding-top: 50px; } }

@media (max-width: 568px) {
  .bnr-main {
    padding-left: 15px;
    padding-right: 15px; }
    .bnr-main h1 {
      font-size: 42px;
      margin-bottom: 10px; }
    .bnr-main .description {
      font-size: 18px;
      line-height: 26px; }
    .bnr-main .btn-purple {
      padding: 15px 50px; } }

.orange-title {
  background: #fbb91e;
  text-align: center;
  padding: 40px 15px; }
  .orange-title h1 {
    font-size: 36px;
    color: #fff;
    margin: 0px 0;
    text-align: center; }

.blocks-wrap {
  margin-top: 100px;
  padding-bottom: 80px;
  padding-left: 15px;
  padding-right: 15px;
  background: url(./assets/img/classes/girl_1.png) no-repeat 100% 50%; }
  .blocks-wrap .block {
    display: block;
    margin: 0 auto 30px;
    max-width: 720px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .blocks-wrap .block:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
  .blocks-wrap .title {
    font-size: 26px;
    text-align: center;
    padding: 20px 15px;
    margin: 0px; }
  .blocks-wrap .text {
    background: #fff;
    color: #001645;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    margin: 0px;
    padding: 30px 30px 30px; }
  .blocks-wrap div:first-child .title {
    color: #000;
    background: #e4e4e4; }
  .blocks-wrap div:nth-child(2) .title {
    color: #fff;
    background: #17a0d2; }
  .blocks-wrap div:nth-child(3) .title {
    color: #fff;
    background: #c70062; }

.blue-title {
  background: #17a0d2;
  text-align: center;
  padding: 40px 15px;
  position: relative; }
  .blue-title:before {
    position: absolute;
    top: -50px;
    right: 20%;
    content: '';
    width: 190px;
    height: 110px;
    background: url(./assets/img/classes/line.png) no-repeat; }
  .blue-title:after {
    position: absolute;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 50px;
    left: 20%;
    content: '';
    width: 190px;
    height: 110px;
    background: url(./assets/img/classes/line.png) no-repeat; }
  .blue-title h2 {
    position: relative;
    z-index: 10;
    font-size: 36px;
    color: #fff;
    margin: 0px 0;
    text-align: center; }

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  padding: 50px 15px 150px; }
  .price .content {
    max-width: 520px;
    width: 100%;
    padding: 0 0px; }
    .price .content p {
      font-size: 23px;
      line-height: 37px;
      margin-bottom: 60px; }
      .price .content p span {
        font-size: 26px;
        line-height: 37px; }
      .price .content p b {
        color: #015371;
        font-weight: bold; }
    .price .content .btn-purple {
      text-transform: uppercase;
      border-radius: 20px;
      padding: 15px 75px;
      overflow: hidden; }
      .price .content .btn-purple:before {
        border-radius: 50px; }

.want-party {
  background: url(./assets/img/classes/party.jpg) no-repeat 50% 50%;
  background-size: cover;
  text-align: center;
  padding: 100px 15px 0px; }
  .want-party h2 {
    font-size: 72px;
    font-family: EntypoSocial;
    color: #fbb91e;
    margin-bottom: 50px; }
  .want-party p {
    font-size: 22px;
    line-height: 40px;
    display: block;
    margin: 0 auto 50px;
    max-width: 900px; }
  .want-party .btn-purple {
    margin-top: 20px;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 15px 75px;
    overflow: hidden; }
    .want-party .btn-purple:before {
      border-radius: 50px; }

@media (max-width: 1200px) {
  .blocks-wrap {
    background-position: 109% 50%; } }

@media (max-width: 1100px) {
  .blocks-wrap {
    background: none; } }

@media (max-width: 992px) {
  .orange-title,
  .blue-title {
    padding: 25px 15px; }
    .orange-title h1, .orange-title h2,
    .blue-title h1,
    .blue-title h2 {
      font-size: 28px; }
  .blue-title:after {
    left: 5%; }
  .blue-title:before {
    right: 5%;
    top: -75px; }
  .price img {
    max-width: 40%; }
  .price .content p {
    font-size: 20px;
    line-height: 32px; }
    .price .content p span {
      font-size: 22px; } }

@media (max-width: 768px) {
  .blocks-wrap {
    margin-top: 75px; }
    .blocks-wrap .title {
      font-size: 22px; }
    .blocks-wrap .text {
      font-size: 18px;
      line-height: 28px; }
  .blue-title:before {
    width: 120px;
    background-size: 100%;
    top: -50px; }
  .blue-title:after {
    width: 120px;
    background-size: 100%;
    top: 25px; }
  .price {
    padding-bottom: 100px; }
    .price img {
      display: none; }
    .price .content {
      width: 100%; }
  .want-party {
    padding-top: 50px;
    padding-bottom: 100px !important; }
    .want-party h2 {
      font-size: 45px;
      line-height: 40px; }
    .want-party p {
      font-size: 20px;
      line-height: 30px; } }

@media (max-width: 568px) {
  .orange-title, .blue-title {
    padding: 20px 15px; }
    .orange-title h1,
    .orange-title h2, .blue-title h1,
    .blue-title h2 {
      font-size: 26px; } }

.form-section {
  position: relative;
  padding-top: 50px !important; }
  .form-section h1 {
    font-family: EntypoSocial;
    color: #fbb91e;
    text-align: center;
    margin-bottom: 60px; }
  .form-section .child_1 {
    position: absolute;
    left: 5%;
    bottom: 20%;
    z-index: 1; }
  .form-section .child_2 {
    position: absolute;
    right: 5%;
    bottom: 20%;
    z-index: 1; }

.form-wrap {
  position: relative;
  z-index: 10;
  background: #fff;
  max-width: 500px;
  margin: 0 auto;
  display: block; }

.underform {
  text-align: center;
  font-size: 14px;
  line-height: 24px; }

form.wpcf7,
form {
  font-size: 15px; }
  form.wpcf7 label,
  form label {
    display: block;
    margin-top: 25px; }
    form.wpcf7 label span,
    form label span {
      display: block;
      margin-top: -3px; }
  form.wpcf7 input,
  form.wpcf7 select,
  form input,
  form select {
    margin: 3px 0 0;
    position: relative;
    margin: 12px 0 0;
    padding: 0 18px;
    height: 60px; }
  form.wpcf7 input,
  form.wpcf7 textarea,
  form.wpcf7 select,
  form input,
  form textarea,
  form select {
    border: 1px solid #ddd;
    width: 100%;
    opacity: 0.8;
    color: #0e0e0e;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    form.wpcf7 input:focus,
    form.wpcf7 textarea:focus,
    form.wpcf7 select:focus,
    form input:focus,
    form textarea:focus,
    form select:focus {
      -webkit-box-shadow: inset 0 1px 1px rgba(164, 205, 57, 0.15), 0 0 8px rgba(164, 205, 57, 0.25);
      box-shadow: inset 0 1px 1px rgba(164, 205, 57, 0.15), 0 0 8px rgba(164, 205, 57, 0.25);
      outline: 0px;
      opacity: 1; }
    form.wpcf7 input:hover,
    form.wpcf7 textarea:hover,
    form.wpcf7 select:hover,
    form input:hover,
    form textarea:hover,
    form select:hover {
      opacity: 1;
      -webkit-box-shadow: inset 0 1px 1px rgba(164, 205, 57, 0.15), 0 0 8px rgba(164, 205, 57, 0.25);
      box-shadow: inset 0 1px 1px rgba(164, 205, 57, 0.15), 0 0 8px rgba(164, 205, 57, 0.25); }
  form.wpcf7 ::-webkit-input-placeholder,
  form ::-webkit-input-placeholder {
    /* Edge */
    color: #0e0e0e;
    font-size: 14px; }
  form.wpcf7 :-ms-input-placeholder,
  form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #0e0e0e;
    font-size: 14px; }
  form.wpcf7 ::-ms-input-placeholder,
  form ::-ms-input-placeholder {
    color: #0e0e0e;
    font-size: 14px; }
  form.wpcf7 ::placeholder,
  form ::placeholder {
    color: #0e0e0e;
    font-size: 14px; }
  form.wpcf7 select,
  form select {
    font-size: 14px;
    cursor: pointer; }
  form.wpcf7 textarea,
  form textarea {
    display: block;
    padding: 18px;
    margin-top: 10px;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px; }
  form.wpcf7 .wpcf7-submit,
  form .wpcf7-submit {
    position: relative;
    display: block;
    text-transform: uppercase;
    margin: 50px auto 0px auto;
    font-weight: 700;
    border-radius: 0;
    font-size: 26px;
    padding: 15px 15px;
    max-width: 250px;
    width: 100%;
    height: initial;
    cursor: pointer;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    background: #1ac2ff;
    color: #fff;
    letter-spacing: 4px; }
    form.wpcf7 .wpcf7-submit:hover,
    form .wpcf7-submit:hover {
      background: #fff;
      color: #1ac2ff; }
  form.wpcf7 .wpcf7-select,
  form .wpcf7-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(./img/site/chevron-down-solid.svg) 96%/15% no-repeat #fff;
    background-size: 15px; }
  form.wpcf7 .wpcf7-not-valid-tip,
  form .wpcf7-not-valid-tip {
    margin-top: 0;
    position: absolute;
    bottom: -20px;
    text-align: center;
    left: calc(50% - 80px); }
  form.wpcf7 .wpcf7-validation-errors,
  form .wpcf7-validation-errors {
    position: relative;
    top: -15px;
    margin: 0px;
    border: 3px solid #f7e700; }

@media (max-width: 992px) {
  .form-section .child_1 {
    left: -3%; }
  .form-section .child_2 {
    right: 0%; } }

@media (max-width: 768px) {
  form.wpcf7 .wpcf7-submit,
  form .wpcf7-submit {
    margin-top: 30px; }
  .form-section .child_1,
  .form-section .child_2 {
    display: none; }
  .form-section {
    padding-bottom: 100px !important; } }

@media (max-width: 550px) {
  .contacts-list .contact-block h3 {
    margin-bottom: 15px; }
  .contacts-list .contact-block div:last-child {
    border-left: none;
    border-top: 1px solid #ccc; }
  .contacts-list .contact-block .block {
    width: 100%;
    padding: 20px 0; } }

.page-404 {
  padding-bottom: 0;
  margin-bottom: 0; }
  .page-404 h1 {
    padding: 250px 0;
    text-align: center;
    color: #000; }
