.site-footer {
	#footer-menu {
		ul {
			margin: 0px;;
			padding-left: 0;
		}
	}
}

.site-footer {
    .social {
		text-align: center;
		display: flex;
		justify-content: center;;
		a {
			float: left;
			display: flex;
			// margin-right: 15px;
			transition: all .3s;
			.fab {
				margin: 0 10px;
			}

			i {
				font-size: 38px;
				position: relative;
				top: 1px;
				color: #1ac2ff;
				
			}
			&:hover {
                transform: rotate(-20deg) scale(1.25);
            }
		}
		&:after {
			display: inline-table;
			content: '';
			clear: both;
		}
    }
}


.site-footer {
	bottom: 0px;
	left: 0px;
	width: 100%;
	border-top: 1px solid #ccc;
	
    .f-wrap {

        display: flex;
        justify-content: space-between;
        padding: 0;
	}
	
	
	.footer-description {
		position: relative;
		min-height: 50px;
		letter-spacing: 0.5px;
		font-size: 12px;
		padding: 50px 70px 100px;

		h3 {
			color: #000;
			margin-top: 0;
			font-weight: 600;
			font-size: 16px;
			text-align: left;
		}

		
		.copyright {
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: center;
			position: absolute;
			min-height: 50px;
			width: 100%;
			right: 0;
			bottom: 10px;	
			margin-top: 105px;
			text-align: center;
			// color: #fff;
			font-size: 16px;
			font-weight: bold;
			letter-spacing: 1.5px;
			color: #1ac2ff;
			
			img {
				margin-right: 4px;
			}
			span {
				position: relative;
				font-size: 14px;
				top: -4px;
			}
		}

		.wdd {
			position: absolute;
			min-height: 50px;
			left: 0px;
			width: 100%;
			bottom: 0px;
			display: block;
			margin-top: 120px;
			font-size: 16px;
			text-align: center;
			max-width: 100% !important;
			letter-spacing: 1px;
			a {
				color: #fff;
				font-weight: bold;
				text-decoration: none;
				letter-spacing: 2px;
				font-size: 18px;

				&:hover {
					color: #ffcb52;
				}
			}
			
			.fa-heart {
				color: #ffcb52;
				font-size: 24px;
			}
		}
		
		&.left {
			display: block;
			width: 60%;
			background: #1ac2ff;
			display: flex;
			text-align: left;
			justify-content: space-between;
			flex-wrap: wrap;
			p {
				max-width: 300px;
			}
		}
		&.right {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			width: 40%;
			background: #fbb91e;
			h3 {
				text-align: center;
			}
			p {
				color: #000;
			}
			ul:first-child {
				margin-bottom: 50px;
			}
		}

        ul {
            margin-left: 0;
            padding-left: 0;
            text-align: left;
            li {
                list-style: none;
				margin-top: 10px;
				font-size: 16px;
				line-height: 27px;
				
				p {
					color: #fff;
					font-size: 16px;
				}
				a {
					font-size: 16px;
					color: #000;
					text-decoration: none;
					&:hover {
						color: #fff;
					}
				}
			}
			li.newsletter {
				input {
					margin: 12px 0 0;
					padding: 0 18px;
					height: 43px;
				}
				.btn-purple {
					height: 40px;
					cursor: pointer;
					position: relative;
					color: #fff;
				}
			}
        }

    }
}


@media (max-width: 1300px) {
	.site-footer {
		.footer-description.left {
			width: 50%;	
		}
		.footer-description.right {
			width: 50%;
		}

	} 
}

@media (max-width: 1200px) {
	.site-footer {
		.footer-description {
			padding: 40px 30px 80px;
			.wdd {
				font-size: 16px;
			}
			.copyright {
				font-size: 16px;
			}
		}
	} 
}


@media (max-width: 992px) {
	.site-footer {
		flex-wrap: wrap;
		.f-wrap {
			flex-wrap: wrap;
			justify-content: center;
		}
		.footer-description {
			padding: 30px 15px 90px;
			width: 100% !important;
			.copyright {
				margin-top: 50px;
			}
		}
		.footer-description.left {
			justify-content: space-between;
			ul {
				margin-left: 15px;
				margin-right: 15px;
			}
			.wdd {
				margin-top: 30px;
			}
		}
		.footer-description.right {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			ul {
				width: 100%;
				text-align: center;
			}
			ul:first-child {
				margin-bottom: 0px;
			}
			p {
				margin-bottom: 0;
			}
		}
		.social {
			display: flex;
			justify-content: center;
			a {
				float: none;
			}
		}
		.newsletter {
			position: relative;
			top: -10px;
			margin-bottom: -30px;
		}
	} 
}


@media (max-width: 768px) {

    .site-footer {
        .f-wrap {
            flex-wrap: wrap;
            .footer-description {
                order: 1;
                width: 100%;
                max-width: 100%;
                text-align: center;
                // padding: 0;
                ul {
                    margin: 0;
                }
            }
        }

        #footer-slogan {
            order: 0;
            margin: 30px auto 20px;
            left: 0px;
            text-align: center; 
            padding-left: 0;
        }
    }
}


@media (max-width: 568px) {
	.site-footer {
		.footer-description.left {
			p {
				margin-top: 5px;
			}
			ul {
				width: 100%;
				li {
					margin-top: 0;
				}
			}
			ul:first-child {
				margin-bottom: 10px;
			}

			.wdd {
				font-size: 14px;
				line-height: 22px;
				letter-spacing: 2px;
			}
		} 

		
		.newsletter {
			display: flex;
			justify-content: center;
			// align-content: center;
			// align-items: center;
			flex-wrap: wrap;
			input {
				width: 100%;
			}
			.btn-purple {
				margin-top: 5px;
				padding-top: 7px;
			}
		}
	} 
}