.site-header {
    position: relative;
	border-bottom: 1px solid #ccc;
	padding: 30px 45px 25px;
	&:after {
		display: table;
		content: '';
		clear: both;
	}
	

    .header-logo {
		float: left;
		margin-top: 5px;
        img {
			display: block;
            max-width: 245px;
		}
		
    }

    .toggleMenu {
        display: none;
        background: none;
        border: none;
        font-size: 26px;
    }

    .main-navigation {
		float: right;
		// width: 100%;
        ul {
			position: relative;
            display: flex;
            text-rendering: optimizeSpeed;
            justify-content: center;
            margin: 0px;
			padding: 0px;;
			li.current-menu-item {
				a {
					color: #c70062;
				}
			}
            li {
                list-style: none;
                a {
					display: block;
                    font-size: 22px;
                    line-height: 1.35em;
                    font-weight: 500;
                    color: #000;
                    padding: 20px 14px;
                    text-decoration: none;
                    transition: all .1s;
                    &:hover {
                        color: #c70062;
                    }
                }
                &:last-child {
                    a:after {
                        display: none;
                    }
                }
            }
        }
	}
	
	.main-navigation {
		#primary-menu li:hover {
			ul {
				display: block;
			}
		}
		.sub-menu {
			transition: all .2s;
			position: absolute;
			z-index: 100;
			top: 100%;
			width: 300px;
			border: 1px solid #ccc;
			background: #fff;
			display: none;
			li a{
				display: block;
				padding: 5px 10px;
			}

			&:before {
				position: absolute;
				top: -10px;
				left: 20px;
				content: '';
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 10px solid #c3c3c3;
			}
		}
	} 
}



@media (max-width: 992px) {
    .site-header {
        .main-navigation {
            ul {
                li {
                    a {
                        padding: 15px 10px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .site-header {
        .main-navigation {
			ul {
				li {
					a {
						font-size: 18px;
					}
				}
			}
        }
	}
	
	
}

@media (max-width: 767px) {
    .site-header {
		flex-wrap: wrap;
		justify-content: space-between;
        height: initial;
        padding: 10px 0px;
        .header-logo {
			margin-left: 15px;
			.rocket {
				right: -13px;
				bottom: 0px;
				font-size: 21px;
			}
        }
        .toggleMenu {
			position: absolute;
			top: 20px;
			right: 20px;
			display: block;
			margin-right: 15px;
        }
        .main-navigation {
            display: none;
            width: 100%;
            ul {
                border-top: 1px solid #ccc;
				margin-top: 10px;
				padding-top: 10px;
                margin-bottom: 0px;
                flex-wrap: wrap;
                justify-content: flex-start;
                li {
                    text-align: left;
                    width: 100%;
                    a {
						font-size: 18px;
                        display: block;
                        padding: 10px 15px;
                    }
                }
			}
			.sub-menu {
				top: initial;
				margin-top: 3px;
				position: relative;
				display: block;
				bottom: initial;
				width: 100%;
				padding-left: 20px;
				margin-left: 0;
				// padding-left: 0;
				border: none;
				border-top: 1px solid #f3f3f3;
				border-bottom: 1px solid #f3f3f3;
				&:before {
					position: absolute;
					top: -10px;
					left: 20px;
					content: '';
					width: 0;
					height: 0;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-bottom: 10px solid #c3c3c3;
				}
				li {
					position: relative;
					a {
						padding-top: 8px;
						padding-bottom: 8px;
					}
				}
			}
        }
        .main-navigation.open {
            width: 100%;
            display: block;
        }
        .mobile-menu {
            margin: 0 0;
            display: block;
            font-size: 24px;
            background: #ccc;
        }
	}
	
}

@media(max-width: 568px){
    .site-header {
        .header-logo img {
            max-width: 180px;
		}
		.toggleMenu {
			top: 15px;
			right: 0px;
		}
    }
}