.sidebar {

    h2.widget-title {
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 1px;
    }
    
    .widget {
        background: #f0f0f0;
        padding: 15px 15px 20px;
        margin-bottom: 25px;
        border: 1px solid #e7e7e7;

        h2 {
            position: relative;
            margin-bottom: 25px;
            font-family: ProximaNova-Semibold;
			font-size: 20px;
			margin-top: 10px;
            &:after {
                display: block;
                position: absolute;
                bottom: -12px;
                left: 0px;
                content: '';
                width: 100%;
                max-width: 295px;
                height: 3px;
                background: url(../../img/h2-underline-sidebar.png);
                background-position: 100% 100%;
                background-repeat: no-repeat;
            }
        }
    }

    .ngg-widget {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
            border: none;
            transition: all .2s;
            margin: 0px 0px 5px;
            padding: 0px;
            &:hover {
                transform: scale(0.95);
            }
        }
    }

    .gsInformer {
        width: initial !important;
    }

    .null-instagram-feed,
    #null-instagram-feed-2 {
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-left: 0;
            padding-left: 0;
            margin-bottom: 0;
            li {
                width: 48%;
                list-style: none !important;
            }
        }
        .clear {
            text-align: center;
            font-size: 18px;
        }
    }

    .widget_recent_entries {
        ul {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 0;
            li {
                list-style: none;
                margin-bottom: 8px;
                a {
                    font-size: 16px;
                    letter-spacing: 0.2px;
                    text-decoration: none;
                    font-family: ProximaNova-Semibold;
                    color: #303030;
                    &:hover {
                        color: #51ade6;
                    }
                }
            }
            li:last-child {
                margin-bottom: 0;
            }
        }
    }

    .widget_polls-widget {
        padding-bottom: 10px;

        ul {
            margin-top: 20px;
            margin-left: 0;
            margin-bottom: 20px;
            li {
                margin-bottom: 4px;
                input {
                    position: relative;
                    top: 1px;
                }
                label {
                    cursor: pointer;
                }
            }
        }

        
        p {
            text-align: left !important;
            line-height: initial;
            span {
                font-weight: 400;
                font-size: 15px;
            }
        }


    }

    #gsInformerID-8cPe64oBGfjfLt {
        margin-bottom: -35px;
    }
}


@media (max-width: 768px) {
    .sidebar {
        .ngg-widget {
            justify-content: center;
            a {
                margin-left: 3px;
                margin-right: 3px;
            }
        }
        .null-instagram-feed,
        #null-instagram-feed-2 {
            justify-content: center;
            ul {
                li {
                    width: initial;
                    margin: 5px;
                }
            }
        }
    }
}