.categories{
        display: flex;
        justify-content: flex-start;
        margin-top: -20px;
        flex-wrap: wrap;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 40px;
        &:before {
            content: '';
            clear: both;
            display: table;
        }


        li {
            list-style: none;
            float: left;
            margin: 0 8px 10px 1px;
            a {
                text-decoration: none;
                color: #000;
                font-weight: 600;
                letter-spacing: 0.7px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

.site-article {
    padding: 0px 0 15px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ccc;

    &:after {
        display: table;
        clear: both;
        content: '';
    }
    
    &:last-child {
        border-bottom: 0px;
    }

    .entry-header {
        text-align: left;
        text-decoration: none;
        .entry-title {
            margin-top: 0;
			margin-bottom: 25px;
			font-weight: 500;
			
        }
    }

    // .article-cont-wrap {
    //     // display: flex;
    //     // justify-content: space-between;
    //     // align-content: flex-start;
    //     // align-items: flex-start;
    // }

    .post-thumbnail {
        width: 30%;
        margin-left: 25px;
        float: right;
        margin-bottom: 20px;

        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    }

    .entry-content {
        
        p:last-child {
            margin-bottom: 0;

        }
    }



    .entry-footer {
        margin-top: 0px;
        text-align: left;
        .cat-links {
            font-size: 12px;
        }
    }
}


.navigation {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    flex-wrap: wrap;

    h2 {
        width: 100%;
        font-size: 20px;
        text-transform: initial;
        margin-bottom: 0;
        &:after {
            display: none;
        }
    }
    
    span {
        text-decoration: none;
        color: #5fa2db;
        font-weight: bold;
        margin: 0 5px;
    }

    a {
        font-weight: 400;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
            // color: #5fa2db;
        }
    }
}


.post-ratings {
    position: relative;
    margin-top: 10px;
    img {
        position: relative;
        top: 1px;
        margin-right: 1px !important;
    }
    .post-ratings-text {
        position: absolute;
        bottom: -15px;
    }
}

