.orange-title {
	background: #fbb91e;
	text-align: center;
	padding: 40px 15px;
	h1 {
		font-size: 36px;
		color: #fff;
		margin: 0px 0;
		text-align: center;
	}
}

.blocks-wrap {
	margin-top: 100px;
	padding-bottom: 80px;
	padding-left: 15px;
	padding-right: 15px;
	background: url(./assets/img/classes/girl_1.png) no-repeat 100% 50%;
	.block {
		display: block;
		margin: 0 auto 30px;
		max-width: 720px;
		width: 100%;
		box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.1);
		transition: all .2s;
		&:hover {
			transform: scale(1.05);
		}
	}
	.title {
		font-size: 26px;
		text-align: center;
		padding: 20px 15px;
		margin: 0px;
	}
	.text {
		background: #fff;
		color: #001645;
		font-size: 23px;
		line-height: 30px;
		text-align: center;
		margin: 0px;
		padding: 30px 30px 30px;
	}
	div:first-child {
		.title {
			color: #000;
			background: #e4e4e4;
		}
	}
	div:nth-child(2) {
		.title {
			color: #fff;
			background: #17a0d2;
		}
	}
	div:nth-child(3) {
		.title {
			color: #fff;
			background: #c70062;
		}
		
	}
}

.blue-title {
	background: #17a0d2;
	text-align: center;
	padding: 40px 15px;
	position: relative;
	&:before {
		position: absolute;
		top: -50px;
		right: 20%;
		content: '';
		width: 190px;
		height: 110px;
		background: url(./assets/img/classes/line.png) no-repeat;
	}
	&:after {
		position: absolute;
		transform: rotate(180deg);
		top: 50px;
		left: 20%;
		content: '';
		width: 190px;
		height: 110px;
		background: url(./assets/img/classes/line.png) no-repeat;
	}
	h2 {
		position: relative;
		z-index: 10;
		font-size: 36px;
		color: #fff;
		margin: 0px 0;
		text-align: center;
	}
}

.price {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	padding: 50px 15px 150px;
	.content {
		max-width: 520px;
		width: 100%;
		padding: 0 0px;
		p {
			font-size: 23px;
			line-height: 37px;
			margin-bottom: 60px;
			span {
				font-size: 26px;
				line-height: 37px;
			}
			b {
				color: #015371;
				font-weight: bold;
			}
		}
		.btn-purple {
			text-transform: uppercase;
			border-radius: 20px;
			padding: 15px 75px;
			overflow: hidden;
			&:before {
				border-radius: 50px;
			}
		}
	}
}

.want-party {
	background: url(./assets/img/classes/party.jpg) no-repeat 50% 50%;
	background-size: cover;
	text-align: center;
	padding: 100px 15px 0px;
	h2 {
		font-size: 72px;
		font-family: EntypoSocial;
		color: #fbb91e;
		margin-bottom: 50px;
	}
	p {
		font-size: 22px;
		line-height: 40px;
		display: block;
		margin: 0 auto 50px;	
		max-width: 900px;
	}
	.btn-purple {
		// display: block;
		margin-top: 20px;
		text-transform: uppercase;
		border-radius: 20px;
		padding: 15px 75px;
		overflow: hidden;
		&:before {
			border-radius: 50px;
		}
	}
}

@media (max-width: 1200px) {
	.blocks-wrap {
		background-position: 109% 50%;
	}
}

@media (max-width: 1100px) {
	.blocks-wrap {
		background: none;
	}
}

@media (max-width: 992px) {
	.orange-title,
	.blue-title {
		padding: 25px 15px;
		h1, h2 {
			font-size: 28px;
		}
	}

	.blue-title:after {
		left: 5%;
	}
	.blue-title:before {
		right: 5%;
		top: -75px;
	}

	.price {
		img {
			max-width: 40%;
		}
		.content {
			p {
				font-size: 20px;
				line-height: 32px;
				span {
					font-size: 22px;
				}
			}
		}
	} 
}

@media (max-width: 768px) {
	.blocks-wrap {
		margin-top: 75px;
		.title {
			font-size: 22px;
		}
		.text {
			font-size: 18px;
			line-height: 28px;
		}
	}

	.blue-title:before {
		width: 120px;
		background-size: 100%;
		top: -50px;
	}
	.blue-title:after {
		width: 120px;
		background-size: 100%;
		top: 25px;
	}

	.price {
		padding-bottom: 100px;
		img {
			display: none;
		}
		.content {
			width: 100%;
		}
	}
	.want-party {
		padding-top: 50px;
		padding-bottom: 100px !important;
		h2 {
			font-size: 45px;
			line-height: 40px;
		}
		p {
			font-size: 20px;
			line-height: 30px;
		}
	}
}

@media (max-width: 568px) {
	.orange-title, .blue-title {
		padding: 20px 15px;
		h1,
		h2 {
			font-size: 26px;
		}
	}
}