.form-section {
	position: relative;
	padding-top: 50px !important;
	h1 {
		font-family: EntypoSocial;
		color: #fbb91e;
		text-align: center;
		margin-bottom: 60px;
	}
	.child_1 {
		position: absolute;
		left: 5%;
		bottom: 20%;
		z-index: 1;
	}
	.child_2 {
		position: absolute;
		right: 5%;
		bottom: 20%;
		z-index: 1;
	}
}

.form-wrap {
	position: relative;
	z-index: 10;
	background: #fff;
	max-width: 500px;
	margin: 0 auto;
	display: block;
}

.underform {
	text-align: center;
	font-size: 14px;
	line-height: 24px;
}

form.wpcf7,
form {
    font-size: 15px;
    // line-height: 22px;
    label {
        display: block;
        margin-top: 25px;
        span {
            display: block;
            margin-top: -3px;
        }
    }
   input,
   select {
        margin: 3px 0 0;
        position: relative;
        margin: 12px 0 0;
        padding: 0 18px;
        height: 60px;
    } 

   input,
   textarea,
   select {
       border: 1px solid #ddd;
       width: 100%;
       opacity: 0.8;
       color: rgb(14, 14, 14);
       transition: all .2s;

       &:focus {
           box-shadow: inset 0 1px 1px rgba(164,205,57, 0.15), 0 0 8px rgba(164,205,57, 0.25);
           outline: 0px;
           opacity: 1;
       }
       &:hover {
           opacity: 1;
           box-shadow: inset 0 1px 1px rgba(164,205,57, 0.15), 0 0 8px rgba(164,205,57, 0.25);
       }
    }
    ::-webkit-input-placeholder { /* Edge */
     color: rgb(14, 14, 14);
     font-size: 14px;
     }

     :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color: rgb(14, 14, 14);
     font-size: 14px;
     }

     ::placeholder {
     color: rgb(14, 14, 14);
     font-size: 14px;
     }

   select {
       font-size: 14px;
       cursor: pointer;
   }

   textarea {
       display: block;
       padding: 18px;
       margin-top: 10px;
       max-width: 100%;
       min-width: 100%;
       min-height: 150px;
   }

   .wpcf7-submit {
	   position: relative;
        display: block;
        text-transform: uppercase;
        margin: 50px auto 0px auto;
        font-weight: 700;
        border-radius: 0;
        font-size: 26px;
		padding: 15px 15px;
		max-width: 250px;
        width: 100%;
        height: initial;
        cursor: pointer;
        transition: all .4s;
        background: #1ac2ff;
		color: #fff;
		letter-spacing: 4px;

        &:hover {
			background: #fff;
			color: #1ac2ff;
			// box-shadow: none;
		}
		
		&:before {
			
			// display: inline-block;
			// width: 30px;
			// height: 30px;
			// position: absolute;
			// content: '\f06c';
			// font-size: 20px;
			// color: #fff;
			// top: 0px;
			// left: 0px;
			// z-index: 100;
		}
   }

   .wpcf7-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(./img/site/chevron-down-solid.svg) 96% / 15% no-repeat #fff;
        background-size: 15px;
   }

   .wpcf7-not-valid-tip {
       margin-top: 0;
       position: absolute;
       bottom: -20px;
       text-align: center;
       left: calc(50% - 80px);
   }

   .wpcf7-validation-errors {
        position: relative;
        top: -15px;
        margin: 0px;
        border: 3px solid #f7e700;
   }
} 

@media (max-width: 992px) {
	.form-section .child_1 {
		left: -3%;
	}
	.form-section .child_2 {
		right: 0%;
	}
}

@media (max-width: 768px) {
    form.wpcf7 .wpcf7-submit, 
    form .wpcf7-submit {
        margin-top: 30px;
	}	
	.form-section .child_1,
	.form-section .child_2 {
		display: none;
	}

	.form-section {
		padding-bottom: 100px !important;
	}
}

@media (max-width: 550px) {
    .contacts-list {
        .contact-block  {
            h3 {
                margin-bottom: 15px;
			}
			
            div:last-child {
                border-left: none;
                border-top: 1px solid #ccc;
            }
            .block {
                width: 100%;
                padding: 20px 0;
            }
        }
    } 
}