.simplefilter {
	display: none !important;
}

.main-page {
	h2 {
		color: #015371;
		font-size: 36px;
		text-transform: uppercase;
		font-style: italic;
		font-weight: 600;
		margin-bottom: 30px;
	}
}

.bnr-main {
	background: url(./assets/img/main-page/TumbleBus_banner.jpg) no-repeat 50% 50%;
	background-size: cover;
	padding: 150px 50px 200px;
	h1 {
		font-family: EntypoSocial;
		font-size: 72px;
		margin-bottom: 30px;
	}
	.description {
		font-size: 26px;
		line-height: 36px;
		text-transform: uppercase;
		margin-bottom: 85px;
		font-weight: 600;
		max-width: 540px;
		text-shadow: 1px 1px 2px #fff;
	}
	.btn-purple {
		text-transform: uppercase;
		border-radius: 20px;
		padding: 15px 75px;
		overflow: hidden;
		&:before {
			border-radius: 50px;
		}
	}
}

.what-is-tmb {
	background: url(./assets/img/main-page/car.png) no-repeat 80% 70%;
	// background-size: cover;
	// display: flex;
	padding: 90px 15px;
	.wrap {
		max-width: 630px;
		text-align: center;
		background: url(./assets/img/main-page/text-bg.png) no-repeat 50% 50%;
		background-size: cover;
		padding: 30px 0;
		margin-left: 150px;
	}
	
	p {
		font-size: 16px;
		line-height: 27px;
	}
}

.what-inside {
	background-color: #1ac2ff;
	background-repeat: no-repeat;
	background-position: 0% 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding: 0 0 0;
	img {
		display: block;
		width: 100%;
		height: auto;;
	}
	.wrap {
		width: 40%;
		padding-top: 100px;
		padding-bottom: 50px;
		background-color: #1ac2ff;
		max-width: 630px;
		width: 100%;
		display: block;
		text-align: center;
		padding-left: 30px;
		padding-right: 30px;
		p {
			display: block;
			margin: 0 auto;
			max-width: 380px;
			font-size: 16px;
			line-height: 27px;
		}
	}

	h2 {
		color: #fff;
	}
}

.gallery {
	padding-top: 110px;
	.row {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 1400px) {
	.what-is-tmb {
		background-position: 90% 70%;
	}
}


@media (max-width: 1200px) {
	.bnr-main {
		padding: 100px 30px 100px;
		h1 {
			font-size: 50px;
		}
		.description {
			font-size: 22px;
			line-height: 32px;
			margin-bottom: 50px;
		}
	}

	.what-is-tmb {
		background-position: 100% 70%;
		.wrap {
			margin-left: 50px;
		}
	}
	.what-inside {
		img {
			width: 50%;
		}
		.wrap {
			width: 50%;
			padding-top: 50px;
			// height: 100%;
			h2 {

			}
		}
	} 
}

@media (max-width: 992px) {
	.bnr-main {
		padding: 50px 30px 60px;
		.wrap {
			background: rgba(255,255,255,.9);
			text-align: center;
			padding: 30px 15px 0;
		}
		h1 {
			color: #fbb91e;
			text-align: center;
		}
		.description {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.what-is-tmb {
		background-image: none;
		padding: 40px 0 20px;
		.wrap {
			margin: 0 auto;
			padding: 60px 15px;
		}
	}
	.main-page {
		h2 {
			font-size: 30px;
			margin-bottom: 20px;
		}
	}
	.gallery {
		padding-top: 80px;
	}
}

@media (max-width: 768px) {
	.main-page h2 {
		font-size: 26px;
	}
	.what-inside {
		justify-content: center;
		
		img {
			display: none;
		}
		.wrap {
			width: 100%;
			padding-left: 15px;
		padding-right: 15px;
		}
	}
	.gallery {
		padding-top: 50px;
	}
}

@media (max-width: 568px) {
	.bnr-main {
		padding-left: 15px;
		padding-right: 15px;
		h1 {
			font-size: 42px;
			margin-bottom: 10px;
		}
		.description {
			font-size: 18px;
			line-height: 26px;
		}
		.btn-purple {
			padding: 15px 50px;
		}
	} 
}