.btn-purple {
	
	position: relative;
	background: linear-gradient(
		to bottom,
		#a80054,
		#f8258f
	);
	color: #fff;
	text-align: center;
	padding: 10px 30px;
	text-decoration: none;
	transition: all .2s;
	overflow: hidden;
	
	span {
		position: relative;
		z-index: 10;
		letter-spacing: 4px;
		font-weight: 600;
		font-size: 18px;
	}

	&:before {
		display: block;
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
		opacity: 0;
		transition: opacity 0.4s;
		
		background: linear-gradient(
			to top,
			#a80054,
			#f8258f
		);
	}

	&:hover::before {
		opacity: 1;
	}
}


