// NAME
@font-face {
	font-family: EntypoSocial;
	src: url('./assets/fonts/fibre-font.otf'); 
}

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


body {
    font-family: "Open Sans", "Arial";
    color: rgb(43, 43, 43);
}

h1 {
	display: block;
	width: 100%;
	color: #fff;
	text-align: left;
	font-size: 48px;
	letter-spacing: 1px;
	margin-bottom: 0;
	margin-top: 0;
}


h2 {
    font-size: 36px;
    margin: 0px 0 20px;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 500;
}

h3 {
    font-size: 24px;
    margin: 0px 0 15px;
	text-align: center;
	font-weight: 500;
}

p {
    font-size: 18px;
    // line-height: 1em;
}

a {
    color: $site_color_aquqa;
}




@media (max-width: 768px) {
    h1 {
        text-align: center;
        font-size: 36px;
        br {
            display: none;
        }
    }

    h2 {
        font-size: 32px;
    }
}

@media (max-width: 568px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
    }
}