body,html {
	min-height: 100%;
	font-family: 'Poppins', sans-serif;
	background: #e5e5e5;
}

html {  
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

*{
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	box-sizing: border-box;
}

a:focus,
button:focus {
	outline: none;
}

a, button {
	transition: all .1s;
}

.site {
	position: relative;
	min-height: 100%;
	display: block;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	border: 1px solid rgb(226, 226, 226);
	background: #fff;
	box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.1);
}

.container {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1240px;
}

.container-fluid {
	width: 100%;
}

.content-area {
    section:last-child {
        padding-bottom: 200px;
    }
}


section {
    position: relative;
    &.content {
        padding: 110px 15px;
    }
    &.grey-bg {
		background: #efefef;
		color: #3d3d3d;
    }
    &.white-bg {
        background: #fff;
    }
}

@media (max-width: 767px) {
    section.content {
        padding-top: 60px;
        padding-bottom: 50px;
    }
}

@media (max-width: 568px) {
    section.content {
        
    }
}

