
@keyframes deliver {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    to {
        transform: scale(1);
    }
}

@keyframes opacity-pulsation {
	from {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}


@keyframes shadow {
    from {
        box-shadow: 0px 2px 10px 5px rgba(000,000,000,0.1);
    }
    50% {
        box-shadow: 0px 2px 15px 5px rgba(000,000,000,0.2);
    }
    to {
        box-shadow: 0px 2px 10px 5px rgba(000,000,000,0.1);
    }
}
@keyframes shadow-portfolio {
    from {
        box-shadow: 0px 2px 10px 5px rgba(000,000,000,0.2);
    }
    50% {
        box-shadow: 0px 2px 15px 5px rgba(000,000,000,0.6);
    }
    to {
        box-shadow: 0px 2px 10px 5px rgba(000,000,000,0.2);
    }
}
@keyframes shadow-sm {
    from {
        box-shadow: 0px 2px 3px 5px rgba(000,000,000,0.1);
    }
    50% {
        box-shadow: 0px 2px 5px 5px rgba(000,000,000,0.2);
    }
    to {
        box-shadow: 0px 2px 3px 5px rgba(000,000,000,0.1);
    }
}

.pulsation {
    -webkit-animation: pulsation 1.7s linear infinite;
    -moz-animation: pulsation 1.7s linear infinite;
    -ms-animation: pulsation 1.7s linear infinite;
    animation: pulsation 1.7s linear infinite;
}

@keyframes pulsation {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}       


.cursor-move {
    -webkit-animation: cursor-move 1.7s linear infinite;
    -moz-animation: cursor-move 1.7s linear infinite;
    -ms-animation: cursor-move 1.7s linear infinite;
    animation: cursor-move 1.7s linear infinite;
}


@keyframes cursor-move {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}       
